<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Es preferible dejar los connection strings en el proyecto que se encarga de la persistencia-->
		<!--<add name="EFLessons" connectionString="Data Source=.;Initial Catalog=EFLessons;Persist Security Info=True;User ID=pmoron;Password=pmoron"/>--> 
	</connectionStrings>
	<appSettings file="other.config"> <!--puedo mergear con 1 documento mas, la feature esta limitada solo a la seccion appSettings-->
		<add key="test" value="Hola soy una prueba"/>
		<!--Puedo agregar keys locales-->
	</appSettings>
</configuration>
